<!-- views/pad.ejs -->

<!DOCTYPE html>
<html>
<head>
    <title>Blockly collaborative editor</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body class="container-fluid">

    <h1>
        message
    </h1>

    <h1>
        Error
    </h1>

</body>
</html>