<!-- views/pad.ejs -->

<!DOCTYPE html>
<html>
  <head>
      <title>Blockly Collaborative Editor</title>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
      <link href="/stylesheets/style.css" rel="stylesheet">
      <style>
          html, body { 
              margin: 0; 
              padding: 0; 
              width: 99%; 
              height: 100%;
          }

          li { 
              width: 100%
          }
      </style>

  </head>

<!-- ------------------------------------------------------------------------------------------- -->

  <body>
        <p style="text-align:center;"><span style="font-family:Helvetica;font-size:27px;font-style:normal;font-weight:bold;text-decoration:underline;text-transform:none;letter-spacing:10px;color:000000;">Collaborative Blockly Editor</span></p>

      <section class="row" style="height:0px;">
         <textarea style ="visibility:hidden" id="tarea"></textarea>
      </section>

      <!-------------------------- Injecting Blockly -------------------------->

        <script src="blockly/blockly_compressed.js"></script>
        <script src="blockly/blocks_compressed.js"></script> 
        <script src="blockly/msg/js/en.js"></script>
        <div id="blocklyDiv" style="height:93%; width: 69%; float:left; margin-right: 1%;"></div>

        <xml id="toolbox" style="display: none">
            
            <!------- LOGIC BLOCKS ------->
            <category name="Logic" colour="210">
              <block type="controls_if"></block>
              <block type="logic_compare"></block>
              <block type="logic_operation"></block>
              <block type="logic_negate"></block>
              <block type="logic_boolean"></block>
              <block type="logic_null" disabled="true"></block>
              <block type="logic_ternary"></block>
            </category>


            <!------- LOOPS BLOCKS ------->
            <category name="Loops" colour="120">
                <block type="controls_repeat_ext">
                  <value name="TIMES">
                    <shadow type="math_number">
                      <field name="NUM">10</field>
                    </shadow>
                  </value>
                </block>
                <block type="controls_repeat" disabled="true"></block>
                <block type="controls_whileUntil"></block>
                <block type="controls_for">
                  <value name="FROM">
                    <shadow type="math_number">
                      <field name="NUM">1</field>
                    </shadow>
                  </value>
                  <value name="TO">
                    <shadow type="math_number">
                      <field name="NUM">10</field>
                    </shadow>
                  </value>
                  <value name="BY">
                    <shadow type="math_number">
                      <field name="NUM">1</field>
                    </shadow>
                  </value>
                </block>
                <block type="controls_forEach"></block>
                <block type="controls_flow_statements"></block>
              </category>



            <!------- MATH BLOCKS ------->
            <category name="Math" colour="230">
                <block type="math_number" gap="32"></block>
                <block type="math_arithmetic">
                  <value name="A">
                    <shadow type="math_number">
                      <field name="NUM">1</field>
                    </shadow>
                  </value>
                  <value name="B">
                    <shadow type="math_number">
                      <field name="NUM">1</field>
                    </shadow>
                  </value>
                </block>
                <block type="math_single">
                  <value name="NUM">
                    <shadow type="math_number">
                      <field name="NUM">9</field>
                    </shadow>
                  </value>
                </block>
                <block type="math_trig">
                  <value name="NUM">
                    <shadow type="math_number">
                      <field name="NUM">45</field>
                    </shadow>
                  </value>
                </block>
                <block type="math_constant"></block>
                <block type="math_number_property">
                  <value name="NUMBER_TO_CHECK">
                    <shadow type="math_number">
                      <field name="NUM">0</field>
                    </shadow>
                  </value>
                </block>
                <block type="math_change">
                  <value name="DELTA">
                    <shadow type="math_number">
                      <field name="NUM">1</field>
                    </shadow>
                  </value>
                </block>
                <block type="math_round">
                  <value name="NUM">
                    <shadow type="math_number">
                      <field name="NUM">3.1</field>
                    </shadow>
                  </value>
                </block>
                <block type="math_on_list"></block>
                <block type="math_modulo">
                  <value name="DIVIDEND">
                    <shadow type="math_number">
                      <field name="NUM">64</field>
                    </shadow>
                  </value>
                  <value name="DIVISOR">
                    <shadow type="math_number">
                      <field name="NUM">10</field>
                    </shadow>
                  </value>
                </block>
                <block type="math_constrain">
                  <value name="VALUE">
                    <shadow type="math_number">
                      <field name="NUM">50</field>
                    </shadow>
                  </value>
                  <value name="LOW">
                    <shadow type="math_number">
                      <field name="NUM">1</field>
                    </shadow>
                  </value>
                  <value name="HIGH">
                    <shadow type="math_number">
                      <field name="NUM">100</field>
                    </shadow>
                  </value>
                </block>
                <block type="math_random_int">
                  <value name="FROM">
                    <shadow type="math_number">
                      <field name="NUM">1</field>
                    </shadow>
                  </value>
                  <value name="TO">
                    <shadow type="math_number">
                      <field name="NUM">100</field>
                    </shadow>
                  </value>
                </block>
                <block type="math_random_float"></block>
              </category>



            <!------- TEXT BLOCKS ------->
            <category name="Text" colour="160">
              <block type="text"></block>
              <block type="text_join"></block>
              <block type="text_append">
                <value name="TEXT">
                  <shadow type="text"></shadow>
                </value>
              </block>
              <block type="text_length">
                <value name="VALUE">
                  <shadow type="text">
                    <field name="TEXT">abc</field>
                  </shadow>
                </value>
              </block>
              <block type="text_isEmpty">
                <value name="VALUE">
                  <shadow type="text">
                    <field name="TEXT"></field>
                  </shadow>
                </value>
              </block>
              <block type="text_indexOf">
                <value name="VALUE">
                  <block type="variables_get">
                    <field name="VAR">text</field>
                  </block>
                </value>
                <value name="FIND">
                  <shadow type="text">
                    <field name="TEXT">abc</field>
                  </shadow>
                </value>
              </block>
              <block type="text_charAt">
                <value name="VALUE">
                  <block type="variables_get">
                    <field name="VAR">text</field>
                  </block>
                </value>
              </block>
              <block type="text_getSubstring">
                <value name="STRING">
                  <block type="variables_get">
                    <field name="VAR">text</field>
                  </block>
                </value>
              </block>
              <block type="text_changeCase">
                <value name="TEXT">
                  <shadow type="text">
                    <field name="TEXT">abc</field>
                  </shadow>
                </value>
              </block>
              <block type="text_trim">
                <value name="TEXT">
                  <shadow type="text">
                    <field name="TEXT">abc</field>
                  </shadow>
                </value>
              </block>
              <block type="text_print">
                <value name="TEXT">
                  <shadow type="text">
                    <field name="TEXT">abc</field>
                  </shadow>
                </value>
              </block>
              <block type="text_prompt_ext">
                <value name="TEXT">
                  <shadow type="text">
                    <field name="TEXT">abc</field>
                  </shadow>
                </value>
              </block>
            </category>

            <!------- COLOUR BLOCKS ------->
            <category name="Colour" colour="20">
                <block type="colour_picker"></block>
                <block type="colour_random"></block>
                <block type="colour_rgb">
                  <value name="RED">
                    <shadow type="math_number">
                      <field name="NUM">100</field>
                    </shadow>
                  </value>
                  <value name="GREEN">
                    <shadow type="math_number">
                      <field name="NUM">50</field>
                    </shadow>
                  </value>
                  <value name="BLUE">
                    <shadow type="math_number">
                      <field name="NUM">0</field>
                    </shadow>
                  </value>
                </block>
                <block type="colour_blend">
                  <value name="COLOUR1">
                    <shadow type="colour_picker">
                      <field name="COLOUR">#ff0000</field>
                    </shadow>
                  </value>
                  <value name="COLOUR2">
                    <shadow type="colour_picker">
                      <field name="COLOUR">#3333ff</field>
                    </shadow>
                  </value>
                  <value name="RATIO">
                    <shadow type="math_number">
                      <field name="NUM">0.5</field>
                    </shadow>
                  </value>
                </block>
              </category>

            <sep></sep>
            <category name="Variables" colour="330" custom="VARIABLE"></category>
            <category name="Functions" colour="290" custom="PROCEDURE"></category>

          </xml>

        <script>
           var workspace = Blockly.inject('blocklyDiv',
              {toolbox: document.getElementById('toolbox'), 

                grid: 
                {spacing: 20,
                 length: 3,
                 colour: '#ccc', 
                 snap: true},

                zoom:
                 {controls: true,
                  wheel: true,
                  startScale: 1.0,
                  maxScale: 3,
                  minScale: 0.3,
                  scaleSpeed: 1.2}, 

                trashcan: true});
        </script>


        <!--------------------------- Socket.io Chat Box -------------------------->
          <div id="chatDiv" style="height: 83%; overflow:auto; width: 30%; float:left">
            <head>
              <style>
                * { margin: 0; padding: 0; box-sizing: border-box; }
                body { font: 15px Helvetica, Arial; font-weight: bold; }
                form { background: #000; padding: 3px; position: fixed; bottom: 3%; width: 29%; }
                form input { border: 0; padding: 10px; width: 70%; margin-right: 1%; }
                form button { width: 28%; background: rgb(130, 224, 255); border: none; padding: 10px; }
                #messages { list-style-type: none; margin: 0; padding: 0; }
                #messages li { padding: 5px 10px; }
                #messages li:nth-child(odd) { background: #eee; }
              </style>
            </head>
            <body>
              <ul id="messages"></ul>
              <form onSubmit="return false;" action="">
                <input id="input" autocomplete="off" ></input><button id="button" type="button">Send</button>
              </form>
            </body>
          </div>


        <!------------------- Linking Frontend ShareJs and Socketio------------------>
          <script src="/socket.io/socket.io.js"></script>
       	  <script src="/channel/bcsocket.js"></script>
          <script src="/share/share.uncompressed.js"></script>
          <script src="/share/textarea.js"></script>

      <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
      <script src="/javascripts/script.js"></script>

  </body>
</html>